@import '../../variables.scss';


.card-container {
    min-width: 99%;
    height: 99vh;
    height: auto;
    font-family: $font-content;
    line-height: 20px;

    .post-title {
        font-family: $font-header;
    }

    
    div {
        margin: 0 0 20px 0;
    }

   
}